<html>
<head>
    <title>Not Found</title>
</head>
<body>
    <h1>
        Page not found
    </h1>
    <p>
        Sorry, we didn't find what you were looking for.
    </p>
    <p>
        Brevets home page: <a href="{{ url_for("index") }}"></a>
    </p>
</body>
</html>